    <div class="editable-wrapper"
      [ngClass]="[isActive ? 'active' : 'inactive', isLoading ? 'loading' : '', disabled ? 'disabled' : 'enabled']">
      <div class="edit-funcs">
        <a href="javascript: void(0)" *ngFor="let editableFunc of editableFunctions" class="edit-icon"
          (click)="onEditableFunctionClick(editableFunc)" [innerHTML]="editableFunc.html">

        </a>
      </div>


      <div class="editable-content-wrapper">
        <div #editableContent class="editable-content"></div>

        <div class="edit-input" *ngIf="isActive">

          <ng-container *ngTemplateOutlet="selectedTemplate"> </ng-container>


          <div class="edit-input-btns mt-2">
            <button [disabled]="isLoading" (click)="onButtonClick('save')" class="btn btn-outline-primary">
              <i class="fas fa-check mr-1"></i>Save
            </button>
            <button [disabled]="isLoading" (click)="onButtonClick('cancel')" class="btn btn-outline-danger">
              <i class="fas fa-times mr-1"></i>Cancel
            </button>
          </div>
        </div>
      </div>

      <div class="loader" *ngIf="isLoading">
        <i class="fas fa-spinner fa-spin spin-icon"></i>
      </div>
    </div>


    <!-- Editor templates -->
    <ng-template #inlineEditor>
      <input type="text" class="form-control" [(ngModel)]="ngModel" />
    </ng-template>

    <ng-template #htmlEditor>
      <ckeditor [editor]="Editor" [(ngModel)]="ngModel"></ckeditor>
    </ng-template>
